ribuzz-scorer-subworkflow-fixed.json
{
  "name": "RiBuzz Scorer Sub-Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "swf-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({ p1: $json.p1, metrics: $json.metrics }) }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessage",
              "message": "Eres el MASTER SCORER de RiBuzz AI. Evalúas las 14 variables comerciales de una empresa basándote en su diagnóstico estructurado (p1) y métricas calculadas.\n\nESCALA GLOBAL: 1=Crítico · 2=Débil · 3=Funcional · 4=Fuerte · 5=Escalable\nREGLA: si is_unknown=true en la variable → score máximo 2.\n\n── DIMENSIÓN 1: PRODUCT-MARKET FIT ──\nPROBLEMA: 1 no articula | 2 síntomas vagos | 3 problema claro impacto vago | 4 problema+impacto concreto | 5 cuantificado+urgente\nSOLUCIÓN: 1 no explica | 2 vaga sin diferenciador | 3 diferenciador genérico | 4 diferenciador específico | 5 único+demostrable\nICP: 1 no sabe | 2 perfil amplio | 3 perfil sin patrón cierre | 4 perfil+sabe porqué cierra | 5 ICP+real alineados\nCLIENTE_ACTUAL: 1 sin clientes | 2 distintos sin patrón | 3 tiene sin común | 4 sabe perfil | 5 ICP=real\n\n── DIMENSIÓN 2: MONETIZACIÓN ──\nOFERTA: 1 sin oferta | 2 precio sin alcance | 3 precio+alcance sin resultado | 4 todo definido | 5 productizada+pública\nECUACION_VALOR: 1 no articula | 2 resultado vago | 3 resultado sin CTA | 4 resultado+CTA | 5 medible+automatizado+prueba\nTICKET_MEDIO: usa métricas.ticket_medio y ratio_cac_ticket para anclar. 1 muy bajo | 2 cubre sin margen | 3 margen mínimo | 4 margen para invertir | 5 alto+upsell+LTV\nRECURRENCIA: 1 100% única | 2 algunos vuelven sin sistema | 3 espontáneo | 4 proceso activo | 5 sistema documentado\n\n── DIMENSIÓN 3: ADQUISICIÓN ──\nCANAL_ADQUISICION: 1 sin canal | 2 impredecible/referidos | 3 canal identificado no escalable | 4 predecible+sabe invertir | 5 multi-canal medido\nCAC: usa ratio_cac_ticket. 1 no sabe | 2 CAC>50% ticket | 3 CAC 20-50% | 4 CAC<20% | 5 optimizado+decreciente\nCONVERSION: usa leads_perdidos. 1 no sabe tasa | 2 <10% sin saber porqué | 3 10-25% con cuellos | 4 >25% con proceso | 5 >40% documentado\n\n── DIMENSIÓN 4: OPERACIONES ──\nSEGUIMIENTO: 1 sin seguimiento | 2 espontáneo | 3 proceso no documentado | 4 documentado | 5 CRM+secuencia\nESCALAMIENTO: 1 100% fundador | 2 mayoría fundador | 3 algunos documentados | 4 mitad documentado | 5 80%+ documentado\nCAPACIDAD_EJECUCION: 1 nada | 2 mínimo <2h/sem | 3 básico parcial | 4 adecuado | 5 stack completo+equipo\n\nPARA CADA VARIABLE devuelve: score (int 1-5), estado (string), diagnostico (1 frase específica para esta empresa), impacto (1 frase), recomendacion (1 acción concreta ejecutable).\n\nDevuelve SOLO JSON válido, sin texto adicional:\n{\"scores\":{\"problema\":{\"score\":0,\"estado\":\"\",\"diagnostico\":\"\",\"impacto\":\"\",\"recomendacion\":\"\"},\"solucion\":{...},\"icp\":{...},\"cliente_actual\":{...},\"oferta\":{...},\"ecuacion_valor\":{...},\"ticket_medio\":{...},\"recurrencia\":{...},\"canal_adquisicion\":{...},\"cac\":{...},\"conversion\":{...},\"seguimiento\":{...},\"escalamiento\":{...},\"capacidad_ejecucion\":{...}}}"
            }
          ]
        }
      },
      "id": "swf-master-scorer",
      "name": "Master Scorer (14 variables)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0,
          "maxTokens": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        480
      ],
      "id": "swf-oai",
      "name": "OpenAI · Master Scorer",
      "credentials": {
        "openAiApi": {
          "id": "AO805CTOSUGBSXdD",
          "name": "RibuZZ Final Automatización"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text || '';\nlet parsed;\ntry {\n  // Extract JSON block — handles markdown code fences or plain JSON\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('No JSON block found in scorer output');\n  parsed = JSON.parse(match[0]);\n} catch(e) {\n  // Return safe fallback so pipeline doesn't crash\n  return [{ json: {\n    scores: {},\n    score_global: 0,\n    parse_error: e.message,\n    raw_truncated: raw.slice(0, 200)\n  }}];\n}\n\nconst scores = parsed.scores || {};\nconst values = Object.values(scores).filter(v => typeof v?.score === 'number');\nconst score_global = values.length\n  ? Math.round((values.reduce((s, v) => s + v.score, 0) / values.length) * 10) / 10\n  : 0;\n\nconst ctx = $('Execute Workflow Trigger').first().json;\nreturn [{ json: {\n  scores,\n  score_global,\n  p1: ctx.p1 || null,\n  metrics: ctx.metrics || null,\n  company: ctx.company || null\n}}];"
      },
      "id": "swf-parse",
      "name": "Parse 14 Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Master Scorer (14 variables)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Scorer (14 variables)": {
      "main": [
        [
          {
            "node": "Parse 14 Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI · Master Scorer": {
      "ai_languageModel": [
        [
          {
            "node": "Master Scorer (14 variables)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "ribuzz"
    },
    {
      "name": "sub-workflow"
    }
  ]
}