ribuzz-ai/n8n/ribuzz-scorer-subflow.json
{
  "name": "RiBuzz Scorer Sub-Workflow",
  "nodes": [
    {
      "id": "5593bc4f-f768-41a6-a78c-7af62d737bc5",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "8bca569a-f298-40f6-bbd3-55cef588c6a3",
      "name": "OpenAI Scorer Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        540,
        480
      ],
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI"
        }
      }
    },
    {
      "id": "dba537f8-ddae-43b5-bae7-728e1352b5f5",
      "name": "Scorer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        540,
        300
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({ p1: $json.p1, metrics: $json.metrics }) }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessage",
              "message": "={{ $json.system_prompt }}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Scorer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Scorer Model": {
      "ai_languageModel": [
        [
          {
            "node": "Scorer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {},
  "pinData": {}
}